<p id="notice"><%= notice %></p>

<h1>Listing Paysites</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Sponsor</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @paysites.each do |paysite| %>
      <tr>
        <td><%= paysite.title %></td>
        <td><%= paysite.sponsor_id %></td>
        <td><%= link_to 'Show', paysite %></td>
        <td><%= link_to 'Edit', edit_paysite_path(paysite) %></td>
        <td><%= link_to 'Destroy', paysite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          Export
          <a href="/export/<%= current_user.id %>.rss?filter[paysite_id]=<%=paysite.id%>&filter[content_type]=pics">pics</a>,
          <a href="/export/<%= current_user.id %>.rss?filter[paysite_id]=<%=paysite.id%>&filter[content_type]=movies">movies</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paysite', new_paysite_path %>
