<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paysite.title %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @paysite.sponsor.title if @paysite.sponsor %>
</p>

<%= link_to 'Edit', edit_paysite_path(@paysite) %> |
<%= link_to 'Back', paysites_path %> |
<%= link_to 'Import', '/import/' + @paysite.sponsor.id.to_s if @paysite.sponsor %> |
Export
<a href="/export/<%= current_user.id %>.rss?filter[paysite_id]=<%=@paysite.id%>&filter[content_type]=pics">pics</a>,
<a href="/export/<%= current_user.id %>.rss?filter[paysite_id]=<%=@paysite.id%>&filter[content_type]=movies">movies</a>

